# python programming language

# point
    . point1
        .point1
    .point2
        .point2

<img src='1A.JPG' />

.google link https://www.youtube.com/

In [2]:
print("hello rahul")

hello rahul

In [3]:
print("hello rahul")
print("mahaboob nagar")

hello rahul
mahaboob nagar

In [10]:
print("hello rahul","|||", end ="")

hello rahul |||

# data types and data type conversation
    . int
    . float
    . string
    . complex

In [6]:
a=100
b="python programming"
c='a'
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

100
python programming
a
<class 'int'>
<class 'str'>
<class 'str'>

In [8]:
a=101200000
print(a)
print(type(a))

101200000
<class 'int'>

In [11]:
a= 100
b=12.33
c="rahul"
d=3+4j
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

# data type conversions
    .int() converts the input into int type
    .float() converts the input into float type
    .str() converts the input into string type
    .complex() converts the input into a complex type

In [12]:
a=100
print(a,end='')
print(type(a))#converts the input into int type

100<class 'int'>

In [17]:
a="100"
print(a,end="")
print(type(a))
a1=int(a)
print(a1,end="")
print(type(a1))

100<class 'str'>
100<class 'int'>

In [21]:
s1='100.23'
print(s1,end=" ")
print(type(s1))# convert the input into a string type
a1 = float(s1)
print(a1,end=' ')
print(type(a1))# convert the input into a float type
a2=int(a1)
print(a2,end=' ')
print(type(a2))# convert the input into a float type
a3=complex(a2)
print(a3,end="")
print(type(a3))# convert the input into a complex type

100.23 <class 'str'>
100.23 <class 'float'>
100 <class 'int'>
(100+0j)<class 'complex'>

In [16]:
# digit count of a number
a=1234
print(len(str(a)))

4

# input()function
    .read the input to the pyton program
    .read the input in terms of string format

In [18]:
s1 = input("enter your name:")
print(s1,type(s1))

enter your name:rahul
rahul <class 'str'>

In [19]:
s2 = int(input("enter a number:"))
print(s2,type(s2))

enter a number:100
100 <class 'int'>

In [24]:
s3= float(input("enter a number:"))
print(s3,type(s3))

enter a number:121.23
121.23 <class 'float'>

# operators
    .+
    .-
    .*
    ./
    .%
    .**
    .//

In [26]:
print(10+3)
print(10-3)
print(10*3)
print(10/3)
print(10%3)
print(10**3)
print(10//3)

13
7
30
3.3333333333333335
1
1000
3

In [27]:
x=1+2**3/4+5
print(x)

8.0

In [30]:
y=(10+20)-(30)*(40/5)
print(y)

-210.0

# Logical operators
    .and
    .or
    .not

In [32]:
a=10
b=(a>9) and (a>=10)
print(b,type(b))
b=(a>9) and (a>100)
print(b,type(b))

True <class 'bool'>
False <class 'bool'>

# conditional flow statements
    . conditional statements
        .if-else
    .looping statements
        .while
        .for

In [33]:
# read a number as input
# print the output as even or odd
a1 = int(input("enter a number:"))
if a1%2==0:
    print("even")
else:
    print("odd")

enter a number:12
even

In [39]:
# read a number as input
# print the output as zero,positive number,negative number
a2= int(input("enter a num:"))
if a2==0:
    print("zero")
elif a2>0:
    print("positive num:")
elif a2<0:
    print("negative num:")

enter a num:23
positive num: